{
  "Comment": "Example State Machine",
  "StartAt": "Data_Sync_s3_efs",
  "States": {
    "Data_Sync_s3_efs": {
      "Type": "Task",
      "Next": "Poll_DataSyncS3toEFS",
      "Parameters": {
        "TaskArn": "${var.datasyncS3ToEFS}"
      },
      "Resource": "arn:aws:states:::aws-sdk:datasync:startTaskExecution"
    },
    "Poll_DataSyncS3toEFS": {
      "Type": "Task",
      "Next": "Check_DataSyncS3toEFS",
      "Parameters": {
        "TaskExecutionArn.$": "$.TaskExecutionArn"
      },
      "Resource": "arn:aws:states:::aws-sdk:datasync:describeTaskExecution"
    },
    "Check_DataSyncS3toEFS": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$.Status",
            "StringEquals": "SUCCESS"
          },
          "Next": "Wait"
        },
        {
          "Variable": "$.Status",
          "StringEquals": "SUCCESS",
          "Next": "BATCH_JOB"
        },
        {
          "Variable": "$.Status",
          "StringEquals": "ERROR",
          "Next": "HandleError"
        }
      ],
      "Default": "HandleError"
    },
    "Wait": {
      "Type": "Wait",
      "Seconds": 300,
      "Next": "Poll_DataSyncS3toEFS"
    },
    "BATCH_JOB": {
      "Type": "Task",
      "Resource": "arn:aws:states:::batch:submitJob.sync",
      "Parameters": {
        "JobDefinition": "${var.BatchTaskArn}",
        "JobQueue": "${var.JobQueue}",
        "JobName": "simple",
        "ShareIdentifier": "test"
      },
      "Next": "Data_Sync_efs_s3"
    },
    "Data_Sync_efs_s3": {
      "Type": "Task",
      "Next": "Poll_DataSyncEFStoS3", 
      "Parameters": {
        "TaskArn": "${var.datasyncEFSToS3}"
      },
      "Resource": "arn:aws:states:::aws-sdk:datasync:startTaskExecution"
    },
   "Poll_DataSyncEFStoS3": {
      "Type": "Task",
      "Next": "Check_DataSyncEFStoS3",
      "Parameters": {
        "TaskExecutionArn.$": "$.TaskExecutionArn"
      },
      "Resource": "arn:aws:states:::aws-sdk:datasync:describeTaskExecution"
    },
    "Check_DataSyncEFStoS3": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$.Status",
            "StringEquals": "SUCCESS"
          },
          "Next": "WaitEFStoS3"
        },
        {
          "Variable": "$.Status",
          "StringEquals": "SUCCESS",
          "Next": "EndState"
        },
        {
          "Variable": "$.Status",
          "StringEquals": "ERROR",
          "Next": "HandleError"
        }
      ],
      "Default": "HandleError"
    },
    "WaitEFStoS3": {
      "Type": "Wait",
      "Seconds": 300,
      "Next": "Poll_DataSyncEFStoS3"
    },
    "HandleError": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "End": true,
      "Parameters": {
        "Message": {
          "Message": "An error occurred during DataSync."
        },
        "TopicArn.$": "$.DataSync-Topic"
      }
    },
      "EndState": {
      "Type": "Pass",
      "Result": "The DataSync process has completed successfully.",
      "End": true
    }
  }
}